<div>
  <p style="color: red;" *ngIf="invalid_text">PLEASE ENTER ATLEAT 2 CHARACHTERS.</p>
  <p style="color: red;" *ngIf="no_selected_sugg">PLEASE SELECT A SUGGESTION.</p>
  <input (keyup)="valueToUpperCase($event.target.value)" type="text" [(ngModel)]="input_word">
  <button (click)="search_tnt_prefix()">Search</button>
</div>
<div *ngIf="new_set.size">
  <label>Select any suggestion:</label>
  <select [(ngModel)]="curr_sugg">
    <option value="" selected>--</option>
    <option *ngFor="let sugg of new_set" [value]="sugg">{{sugg}}</option>
  </select>
  <button (click)="save_suggestion()">Save Suggestion</button>
</div>
<div>
  <table>
    <tr>
      <th>Selected Tenant Prefixes</th>
    </tr>
    <tr *ngFor="let sugg of selected_suggestions | keyvalue">
      <td>{{sugg.key}}</td>
    </tr>
  </table>
</div>
